!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Hello Chat!
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body
    .container
      %header.header
        -# %span.logo

      - if nil != get_flash(@conn, :info) do
        .alert.alert-info.alert-dismissible.fade.in#alert-info(role="alert")
          %button.close{data_dismiss: "alert", type: "button", onClick: 'e=document.getElementById("alert-info"); e.parentElement.removeChild(e)'}
            %span &times;
          = get_flash(@conn, :info)
      - if nil != get_flash(@conn, :error) do
        .alert.alert-danger.alert-dismissible.fade.in#alert-danger(role="alert")
          %button.close{data_dismiss: "alert", type: "button", onClick: 'e=document.getElementById("alert-danger"); e.parentElement.removeChild(e)'}
            %span &times;
          = get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

    %script(src='#{static_path(@conn, "/js/app.js")}')
